* {
  box-sizing: border-box;
}

body {
  background-color: lightgray;
}

a {
  text-decoration: none;
}

.empty {
  width: 20%;
  flex-grow: 1;
}

.box-flex {
  flex-grow: 1;
}
h2, h1{
  font-family: cursive;
}
.containers {
  background-color: #fff;
  width: 1000px;
}

.container_1, .container_2, .container_3, .container_4, .container_5 {
  border-bottom: 1px solid gray;
  display: flex;
  height: 200px;
}

.architecht {
  border-right: 1px solid gray;
  width: 20%;
  /* background-color: pink; */
  padding: 30px;
  flex-grow: 1;
}
.project {
  border-right: 1px solid gray;
  width: 40%;
  /* background-color: yellow; */
  display: flex;
  padding: 30px;
  flex-grow: 1;
}

.title {
  width: 50%;
}

.title h1 {
  margin: 0;
}

.nav {
  width: 50%;
  text-align: right;
}

.search {
  display: inline-block;
  margin: 0 10px;
}

.contact {
  display: inline-block;
}

.vuoto_1 {
  /* background-color: lightblue; */
  padding: 30px;
}

.img_2 {
  width: 40%;
  background-color: pink;
}

.dining_table {
  width: 20%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu {
  font-size: 15px;
  color: gray;
}

.menu h2 {
  margin-top: 0;
  margin-bottom: 5px;
}

.forniture {
  font-size: 12px;
  color: gray;
}

.vuoto_2, .vuoto_4 {
  border-left: 1px solid gray;
}

.plinth_sinks {
  width: 20%;
  padding: 20px;
  border-left: 1px solid gray;
}

.img_3 {
  width: 40%;
  background-color: lightblue;
}
.plinth_sinks{

}
.img_4 {
  width: 40%;
  background-color: lightgreen;
}

.harbour_tables {
  padding: 20px;
}

.empty_bis {
  width: 20%;
  border-right: 1px solid gray;
}

.img_5 {
  width: 20%;
  background-color: orange;
}

.sushi_lamps {
  width: 20%;
  padding: 20px;
}
