/* paragrafo */
.paragrafo{
  font-size: 30px;
  color: green;
  background: pink;
  border:4spx solid green;
}
/* eserzizio html-css */
.cv {
  background:lightgrey;
  text-align: center;
}
#foto{
  width: 300px;
}
.padding{
  padding: 8px;
}
.titolo {
  color: orange;
}
.wrapper hr{
  border-color:orange;
}
.quadrato{
  width: 200px;
  height: 200px;
  background-color: pink;
  border: 10px solid purple;
  /* margin-left: 20px;
  margin-top: 20px; */
  padding:50px;
  display: inline-block;
}
*{
  box-sizing: border-box;
}
